<div>
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ lista[0].matricula }}</td>
                <td>{{ lista[0].nome }}</td>
                <td>{{ lista[0].email }}</td>
                <td>{{ lista[0].curso }}</td>
                <td>{{ lista[0].status }}</td>
            </tr>
            <tr>
                <td>222</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
            </tr>
            <tr>
                <td>333</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
                <td>bob.com.br</td>
            </tr>
        </tbody>

    </table>
</div>