<div>
    <table>
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let aluno of alunos">
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.status === true ? 'Aprovado' : 'Reprovado'}}</td>
                <td class="botoes">
                    <button class="btn-green" (click)="editarAluno(aluno)">Editar</button>
                    <button (click)="excluirAluno(aluno.matricula)" class="btn-vermelho">Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div>
    <app-student-form [aluno]="alunoEdicao" (adicionar)="onAdicionar($event)"></app-student-form>
</div>