<div class="container">
  <header>
    <h1>{{title}}</h1>
  </header>
  <main>

    <div class="botao">
      <button (click)="alterarExibicaoCards()">{{exibicao === 'cards' ? 'Lista' : 'Carts'}}</button>
    </div>

    <div class="cards" *ngIf="exibicao === 'cards'">
      <app-studant [aluno]="listAluno[0]"></app-studant>
      <app-studant [aluno]="listAluno[1]"></app-studant>
      <app-studant [aluno]="listAluno[2]"></app-studant>
    </div>
    <div class="lista" *ngIf="exibicao === 'lista'">
      <app-student-list [lista]="listAluno"></app-student-list>
    </div>
  </main>
  
  <footer>
    <p>- &copy;Desenvolvido por Luciano -</p>
  </footer>
</div>