<div class="card">
    <img src="{{ aluno.imagem }}" alt="">
    <h3>{{aluno.nome}}</h3>
    <p>
        <strong>Curso:</strong> {{aluno.curso}}
    </p>
    <p>
        <strong>Matricula:</strong> {{aluno.matricula}}
    </p>
    <p>
        <strong>E-mail:</strong> {{aluno.email}}
    </p>
    <div class="aprovacao" [ngClass]="aluno.status ? 'aprovado' : 'reprovado'">
        <p>
            Aluno {{ aluno.status ? 'aprovado' : 'reprovado'}}
        </p>
    </div>
    <p class="PP" [ngStyle]="{'font-size': textoMedio}">ProWay</p>
</div>