.card {
    border: solid 1px black;
    width: 240px;
    padding: 12px;
    margin: 8px;
}

h3 {
    text-align: center;
    margin: 12px 0;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.PP{
    text-align: center;
    padding-top: 20px;
    color: rgb(119, 117, 117);
}

.aprovacao {
    background-color: silver;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.aprovado {
    background-color: green;
}

.reprovado {
    background-color: red;
}